* {
    color-scheme: dark;
    font-family: sans-serif;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr;
}

#content {
    grid-column: 2/3;
    background: radial-gradient(51.15% 73.85% at 47.71% 42.69%, #454545 0%, #282828 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px;
    display: flex;
    gap: 32px;
}

#sidebar {
    grid-column: 1/2;
    position: sticky;
    background: radial-gradient(169.05% 100% at 41.21% 0%, #5E5E5E 0%, #1B1B1B 100%);
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
}